
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
<!-- Shoppe Nav -->
<div class="shop-nav">
<div class="well sidebar-nav" style="max-width:500px; padding: 8px 0; margin-left:20px;">
<ul class="nav nav-list">
	<li class="nav-header">Shoppe</li>
	<li class="divider"></li>
	<li class="nav-header">Products</li>
			<li><a href="#">Batch2</a></li>
	<li class="divider"></li>
	<li><a href="#">Size Chart</a></li>
		<li><a href="#">Kaufee FAQs</a></li>
			<li><a href="#">Join the Beanlist</a></li>
            <li class="divider"></li>
<li class="nav-header">Bag</a>
<li><div class="cart-info"><span id="simpleCart_quantity" class="simpleCart_quantity"></span> 
<i class="icon-shopping-cart"> </i> items <span class="simpleCart_total"></span></li>
<li class="divider"></li>
<a href="javascript:;" class="simpleCart_checkout">Checkout</a> | 
<a href="javascript:;" class="simpleCart_empty">empty cart</a></div>
</div>
    </ul>
        </div>

<!-- END Shoppe Nav -->

<div class="span9">

<div class="shelf">	
<ul class="unstyled">
<li class="simpleCart_shelfItem span3">
	<div class="item-thumb ">
	<img class="item_image item_add" src="../images/logo_bean.png" width="200"></div>
	<br>
	   <select ="item_size">
        <option value="Small"> Small </option>
        <option value="Medium"> Medium </option>
        <option value="Large"> Large </option>
    </select><br>
    <span class="item_price">$35.99</span><br>
<a class="item_add" href="javascript:;" onclick="simpleCart.add('name=Logo Bean','price=35.99');return false;"> Add to Cart </a></li>


<li class="simpleCart_shelfItem span3"><div class="item-thumb "><img class="item_name" src="../images/gordon.png" width="200"></div>
	<br>
	   <select ="item_size">
        <option value="Small"> Small </option>
        <option value="Medium"> Medium </option>
        <option value="Large"> Large </option>
    </select><br>
    <span class="item_price">$35.99</span><br>
<a class="item_add" href="javascript:;" onclick="simpleCart.add('name=Gordon','price=35.99');return false;"> Add to Cart </a></li>

<li class="simpleCart_shelfItem span3">
	<div class="item-thumb "><img src="../images/gordon_grey.png" width="200"></div>
	<br>
	   <select ="item_size">
        <option value="Small"> Small </option>
        <option value="Medium"> Medium </option>
        <option value="Large"> Large </option>
    </select><br>
    <span class="item_price">$35.99</span><br>
<a class="item_add" href="javascript:;" onclick="simpleCart.add('name=Gordon Grey','price=35.99');return false;"> Add to Cart </a></p></li>

<li class="simpleCart_shelfItem span3">
	<div class="item-thumb "><img src="../images/bean.png" width="200"></div>
	<br>
	   <select ="item_size">
        <option value="Small"> Small </option>
        <option value="Medium"> Medium </option>
        <option value="Large"> Large </option>
    </select><br>
    <span class="item_price">$35.99</span><br>
<a class="item_add" href="javascript:;" onclick="simpleCart.add('name=Bean Boy','price=35.99');return false;"> Add to Cart</a></li>
<li></li>
</ul>



</div>
	</div>
		</div>
			</div>


